// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

// start style

//  variables
@main-color: rgba(37, 146, 146, 0.774);

//mixin
.flex() {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}


.container {
	margin: 0px auto;
	width: 71%;
	font-family: 'Raleway', sans-serif;

}

header {
	background: @main-color;
	padding: 20px;

	nav {
		text-align: right;

		a {
			text-decoration: none;
			color: white;
			margin: auto 10px;
			font-size: 1.3rem;
			cursor: pointer;
		}
	}
}

.header2 {
	.flex();
	margin-top: 50px;

	img {
		width: 10rem;
		height: 10rem;
		border-radius: 50rem;
	}

	//left side of the header 
	.left {
		.flex();
		font-size: 2rem;

		h1 {
			line-height: .9;
			margin-left: 1.5em;
			margin-top: 15px;

			span {
				font-size: 1.2rem;
				color: @main-color;
			}
		}


	}

	// right side of header
	.right {
		ul {
			text-align: right;
			line-height: 1.8em;
		}
	}
}

section.cover {
	margin: 20px;
	width: 90%;
}

//divde main cntent in to two columns	
.main-content {
	.flex();
	width: 100%;

	.body-left {
		border-top: 0px solid @main-color;
		width: 45%;
	}

	.body-right {
		border-top: 0px solid @main-color;
		width: 45%;
	}
}

// first column of body
.category {
	border-top: 2px solid @main-color;

	h2 {
		font-weight: bolder;
		padding-top: 5px;
		font-size: 1.5rem;

	}

	ul {
		margin: 1rem;
		font-weight: bolder;

		li span {
			font-weight: 100;
			line-height: 1.2;
			font-size: 0.9rem;
		}
	}

	.sub-category {
		font-size: 0.7rem;
		color: @main-color;
		margin-top: 5px;
		margin-left: 5px;

	}

	.sub-category-items {
		margin-top: 0px;
		font-size: 0.7rem;
		font-weight: 100;
	}
}

.body-right {
	.category.skill ul {
		.flex();
		justify-content: center;

		li {
			padding: 10px;
			border: 1px solid @main-color;
			border-radius: .5rem;
			background: @main-color;
			color: white;
			margin:5px;
			font-size: 0.8rem;
		}
	}

	// .category{

	// }

}